@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} 



.logo img{
  width: 100px;
  border-radius: 100px;
  padding: 0 12px; 
}
.logoandmenu
{
  display: flex;
  align-items: center;
  background: #000;
  padding: 12px 12px 12px 18px ;
  
 
}
.menuicon{
  font-size:28px;
  cursor:pointer;
  color: aliceblue;
  position: fixed;
  right: 10px;
}
.logo 
{   display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.7rem;  
  color: aliceblue;      
  padding-left: 5px;
   
}


* {
  margin: 0;
  padding: 0;
}



nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;right: 0;
  background: #000;
  font-family: Roboto Slab;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
}

nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

nav a:hover {
  color: #f1f1f1;
}

nav .closebtn {
  position: absolute;
  top: 5px; right: 21px;
  font-size: 46px;
  

}


/*Label custom*/
/* [aria-label] {
  position: relative;
}
  
[aria-label]:after {
  content: attr(aria-label);
  display: none;
  position: absolute;
  top: 110%;
  left: 10px;
  z-index: 5000;
  pointer-events: none;
  padding: 8px 10px;
  line-height: 15px;
  white-space: nowrap;
  text-decoration: none;
  text-indent: 0;
  overflow: visible;
  font-size: .9em;
  font-weight: normal;
  color: #fff;
  text-shadow: 1px 0 1px #888;
  background-color: rgb(27, 27, 27);  
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
  box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
}

[aria-label]:hover:after, [aria-label]:focus:after {
  display: block;
} */


/*styling the player : START*/
.player {
  background-color: #383838;
  width: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  justify-content: center;
  text-align: center;
  position: fixed;
  min-height: auto;
  color: white;
  align-items: center;
}
.player-controls{
  display: flex;
  flex-direction: row;  
  gap: 8px;
  width: auto;
  text-align: center;
  margin-top: 12px;
}
.shuffle{  
    align-items: center;
    background: transparent;
    border: none;
    color: #bebebe;
    display: flex;
    height: var(--button-size);
    justify-content: center;
    min-width: var(--button-size);
    position: relative;
    width: var(--button-size);
}
.fa-shuffle{
  fill: currentcolor;
  cursor: pointer;
  height: 15px;
  width: 15px;
}
.previous{  
  align-items: center;
  background: transparent;
  border: none;
  color: #bebebe;
  display: flex;
  height: var(--button-size);
  justify-content: center;
  min-width: var(--button-size);
  position: relative;
  width: var(--button-size);
}
.fa-backward-step{
  fill: currentColor;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.play-pause{
  align-items: center;
  background: transparent;
  border: none;
  color: #bebebe;
  display: flex;
  height: var(--button-size);
  justify-content: center;
  min-width: var(--button-size);
  position: relative;
  width: var(--button-size);
  right: 0px;
  /* transition: 0.2s; */
  
}
.fa-play{
  fill: currentColor;
  cursor: pointer;
  height: 30px;
  width: 30px;
  

}
.next{
  align-items: center;
  background: transparent;
  border: none;
  color: #bebebe;
  display: flex;
  height: var(--button-size);
  justify-content: center;
  min-width: var(--button-size);
  position: relative;
  width: var(--button-size);
}
.fa-forward-step{
  fill: currentColor;
  cursor: pointer;
  height: 20px;
  width: 20px;

}
.loop{
  align-items: center;
  background: transparent;
  border: none;
  color: #bebebe;
  display: flex;
  height: var(--button-size);
  justify-content: center;
  min-width: var(--button-size);
  position: relative;
  width: var(--button-size);
}
.fa-rotate{
  fill: currentColor;
  cursor: pointer;
  height: 15px;
  width: 15px;

}
/*player-controls done*/

.seek-bar{
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 12px;
  
}
#i-progress-bar{
  appearance: auto;
  cursor: default;
  padding: initial;  
  -webkit-appearance: none;
  outline: none;  
  float: left;
  margin: 2px;
  border: initial;
  position: relative;
  width: 85vw;
     
}
#i-progress-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(130, 49, 206, 0.6) var(--buffered-width), rgba(100, 0, 181, 0.2) var(--buffered-width));
}
#i-progress-bar::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  background-color: rgba(100, 0, 181, 0.2);
  cursor: pointer;
}
#i-progress-bar::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  color: #bebebe;
  height: 12px;
  width: 22px;
  border-radius: 10px;
  background-color: rgb(71, 70, 70);
  cursor: pointer;
  margin: -5px 0 0 0;
}
#i-progress-bar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: #b50000;
}
/*seek-bar done*/
