@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
.logo img{
    width: 100px;
    border-radius: 100px;
    padding: 0 12px; 
}
.logoandmenu
{
    display: flex;
    align-items: center;
    background: #000;
    padding: 12px 12px 12px 18px ;
    
   
}
.menuicon{
    font-size:28px;
    cursor:pointer;
    color: aliceblue;
    padding-left: 12px; 

}
.logo 
{   display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.7rem;  
    color: aliceblue;  
    padding: 0 18px;   
}


* {
    margin: 0;
    padding: 0;
}



nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;left: 0;
    background: #000;
    font-family: Roboto Slab;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
  }
  
  nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.2s;
  }
  
  nav a:hover {
    color: #f1f1f1;
  }
  
  nav .closebtn {
    position: absolute;
    top: 5px; ;
    font-size: 46px;
  
  }
